.mt-4.mb-5.pb-5
  .container.card
    .h1 Анализатор качества репозиториев
    .h4 Проект, который помогает автоматически следить за качеством репозиториев на Github. Он отслеживает изменения и прогоняет их через встроенные анализаторы. Затем формирует отчеты и отправляет их пользователю.
